<!doctype html>
<html>
    <head>
        <title>Log in screen for RIS Record Info</title> 
        <link rel=rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="flex-container">
            <div id="login">
                <h1>RIS Record Info</h1>
                <h2>Log in with your username.</h2>
                <form>
                    <!--User name with mouse click pop up -->
                    Username <i class="fa fa-info-circle" (click)="showInfoText()">
                        <span class="popUpInfoText" #popUpText id=popUpText>Test</span>
                    </i> 
                    <input type="text" name="Username"><br/>
                    Password <input type="text" name="Password"><br/>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
        <div class="footer">
            <p>&#169; Matti Mattila & Saku Rautiainen</p>
        </div>
    </body>


</html>