<!doctype html>
<html>
    <head>
        <title>Log in screen for RIS Record Info</title> 
    </head>
    <body>
        <div>
            <h1>RIS Record Info</h1>
            <h2>Log in with your username.</h2>
            <form>
                Username <input type="text" name="Username"><br/>
                Password <input type="text" name="Password"><br/>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="footer">
            <p>&#169; Matti Mattila & Saku Rautiainen</p>
        </div>
    </body>
</html>